<style>
  .wrapper{
    width: 100%;
    height: 150px;
  }
</style>
<% @account = Account.find_by_email(@resource.email) %>
<div class="wrapper">
  <h3>Здравствуйте, <%= @account.login %>!</h3><br>

  <p>Ваш пароль был успешно изменён.</p>
</div>

