<style>
  .wrapper{
    width: 100%;
    height: 150px;
  }
</style>
<% @account = Account.find_by_email(@resource.email) %>
<div class="wrapper">
<h3>Здравствуйте, <%= @account.login %>!</h3><br>

<p>Вы запросили смену пароля. Чтобы сделать это, перейдите по ссылке ниже.</p>

  <% if @account.confirmation_token == nil %>
      <h4 style="color: #F44336;">ВНИМАНИЕ!</h4>
      <p style="color: #F44336;">Вы не подтвердили свой email адрес, сделайте это, прежде чем менять пароль. Для подтверждения, перейдите по этой ссылке -> <%= link_to 'ПОДТВЕРДИТЬ EMAIL', new_confirmation_path(resource_name) %></p>
  <% end %>

<%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %>

  <p>Если вы ничего не запрашивали, то просто проигнорируйте это сообщение. </p>
  <p>Ваш пароль не изменится до тех пор, пока вы не перейдете по ссылке и не измените его.</p>
</div>